body
{
  background-color: black;
  color: white;
  font-size: 12;
}

#p1
{
  color: rgb(181, 193, 255);
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
}

#p2
{
  color: #FFB5B5;
}

#logo
{
  max-width: 300px;
  max-height: 300px;
  align: center;
}

#h1
{
  text-align: center;
  text-transform: uppercase;
}

#h2
{
  text-align: center;
}
